<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.WoongBank.Dao.AccountDao">
	
	<!-- 회원의 계좌 갯수-->
	<select id="UserAccountCnt" resultType="int">
		select count(*) from Account where user_id=#{param1} and account_delete_TM is null;
	</select>
	
	<!-- 계좌생성시 이미 존재하는 계좌인지 체크 -->
	<select id="CreateAccountChk" resultType="int">
		select count(*) from Account where account_number=#{param1};
	</select>
	
	<!-- 계좌생성 처리 -->
	<insert id="CreateAccountProc" parameterType="java.util.Map">
		insert into Account (user_id, bank, account_number, account_password, account_name) values
		(#{item1}, 'Woong', #{item2}, #{item3}, #{item2});
	</insert>
	
	<!-- 계좌생성시 이미 존재하는 계좌인지 체크 -->
	<select id="UserAccountList" resultType="com.project.WoongBank.Dto.AccountDto">
		select * from Account where user_id=#{param1} and account_delete_TM is null;
	</select>
	
	<!-- 계좌별칭 변경을위한 해당계좌정보 불러오기 -->
	<select id="UserAccountChangedInfo" resultType="com.project.WoongBank.Dto.AccountDto">
		select * from Account where account_number=#{param1} ;
	</select>
	
	<!-- 계좌별칭 변경 처리 -->
	<update id="UpdateAccountName">
		UPDATE Account SET account_name = #{param2}, account_modify_TM = now() where account_number = #{param1};
	</update>
	
	<!-- 계좌삭제 처리 -->
	<update id="RemoveUserAccount">
		update account set account_delete_TM=now() where account_number = #{param1};
	</update>
	
</mapper>